.profile__avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    max-width: 120px;
    margin: 0 auto;
  }
}